<!doctype html>
<html lang="en">

<head>
    <title>GAMES SHOP RECOMMEND</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-image: url("https://s3-ap-southeast-1.amazonaws.com/emago-asset-dev/rfm-asset/Header-Gameqoo.jpg");
            background-color: #AAAAAA;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>

    <!--Nav bar-->
    <nav class="navbar navbar-dark bg-dark sticky-top justify-content-between shadow" style="margin-bottom: 50px;">
        <a class="navbar-brand" style="color: whitesmoke;">GAMES SHOP RECOMMEND</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" id="myInput" placeholder="Search..." aria-label="Search">
            <button type="button" class="btn btn-success" onclick="location.href='/cart'">CART :&nbsp;{{cart}}</button>
        </form>
    </nav>
    <!--Nav bar-->
    <!--Detail-->
    <div class="container bg-light shadow p-5 rounded-lg" style="background: white;">
        <center>
            <h1 style="font-size: 48pt; padding-bottom: 50px;">GAMES SHOP RECOMMEND</h1>
        </center>

        <table class="table table-hover">
            <tbody id="table">
                {% for name in names %}
                <tr>
                    <div class="row">
                        <div class="col-3">
                            <td>
                                <form action="detail" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-success" value="{{ name }}" name="game"
                                        onclick="location.href='/detail'" style="width: 100%; border: none;">
                                        <h3>{{name}}</h3>
                                    </button>
                                </form>
                            </td>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>



    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>